# Python-related
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.sqlite3
*.egg
*.egg-info/
dist/
build/

# Environment Variables
.env

# Docker-related
*.log
docker-compose.override.yml
.env.docker

# SQLite Database
data.db

# System files
.DS_Store
Thumbs.db

# Virtual Environment
venv/
*.venv
env/
chirpsyncer-env/

# VS Code settings
.vscode/

install-pyenv-win.ps1